@{
    ViewData["Title"] = "Home Page";
}
<main>
    <section id="hero">
        <a href="#">
            <div class="main_container">
                <div class="md_container">
                    <p>¿No sabes lo que necesitas o solo conoces tu presupuesto?</p>
                    <h1>¡Arma tu PC AQUÍ!</h1>
                </div>
                <div class="right-container">
                    <img src="resources/pcCreator1.png" width="200px">
                </div>
            </div>
        </a>
    </section>
    <section class="cards">
        <a href="Producto.html">
            <div class="small_container">
                <div class="">
                    <img src="resources/pc_gamer2.png" width="200px">
                </div>
                <div class="md_container">
                    <p>Pc Gamer Rgb Ryzen 5 5600g + 16gb +ssd 500 + Monitor 22”</p>
                    <h3>$2.200.000 COP</h1>
                </div>
            </div>
        </a>
        <a href="Producto.html">
            <div class="small_container">
                <div class="">
                    <img src="resources/pc_gmer3.png" width="200px">
                </div>
                <div class="md_container">
                    <p>Torre Cpu Gamer Core I5 10400 Gpu 2g Hdmi 1tb 16gb Led 22</p>
                    <h3>$2.000.000 COP</h1>
                </div>
            </div>
        </a>
        <a href="Producto.html">
            <div class="small_container">
                <div>
                    <img src="resources/pc_gamer1.png" width="200px">
                </div>
                <div class="md_container">
                    <p>Torre Gamer Rgb Amd Ryzen 5 5600g + 16gb + Ssd 240</p>
                    <h3>$1.600.000 COP</h1>
                </div>
            </div>
        </a>
    </section>
</main>

