@model ProyectoFinal.Models.ViewModel.ViewUsuarioLogin

@{
    ViewData["Title"] = "Iniciar sesión";
}

<div class="sign_in">
    <div class="form_title">
        <h1>Iniciar sesión</h1>
    </div>
    <form asp-action="Login" class="form">
        <div>
            <label asp-for="Email" class="control-label">Correo electrónico</label>
            <input asp-for="Email" class="form-control" placeholder="Correo electrónico" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="Password" class="control-label">Contraseña</label>
            <input asp-for="Password" class="form-control" type="password" placeholder="Contraseña" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="btn_container">
            <button type="submit" class="action_btn">Continuar</button>
            <button onclick="btnIndex_Click()" class="action_btn negative">Volver atrás</button>
        </div>
    </form>

</div>


@section Scripts {
  
    <script>
        $(document).ready(function () {
            alert('@Html.Raw(ViewBag.Mensaje)'); // Usa Html.Raw para evitar problemas de codificación

        });
    </script>

}