@model ProyectoFinal.Models.ViewModel.ViewUsuarioLogin

@{
    ViewData["Title"] = "Iniciar sesión";
}

<div class="sign_in">
    <div class="form_title">
        <h1>Iniciar sesión</h1>
    </div>
    <form asp-action="form" class="form">
        <div>
            <label asp-for="Email" class="control-label">Correo electrónico</label>
            <input asp-for="Email" class="form-control" placeholder="Correo electrónico"/>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="Documento" class="control-label">Contraseña</label>
            <input asp-for="Documento" class="form-control" type="password" placeholder="Contraseña"/>
            <span asp-validation-for="Documento" class="text-danger"></span>
        </div>
    </form>
    <div class="btn_container">
        <button type="submit" class="action_btn">Continuar</button>
        <button onclick="btnIndex_Click()" class="action_btn negative">Volver atrás</button>
    </div>
</div>