
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="~/css/styles.css" rel="stylesheet" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AllInOne</title>
    
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Styles.css" asp-append-version="true" />
</head>
<body>
    @* <header>
        <div class="navbar">
            <div class="logo" style="display: block;">
                <a asp-action="Index" asp-controller="Home"><img src="~/resources/logo.png" width="40px"></a>
            </div>
            <div class="dropdown">
                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
                    Administrar
                </button>
                <ul class="dropdown-menu">
                   <li><a class="dropdown-item" asp-action="Index" asp-controller="Usuarios">Usuarios</a></li>
                    <li><a class="dropdown-item" asp-action="Index" asp-controller="Categorias">Categorias</a></li>
                    <li><a class="dropdown-item" asp-action="Index" asp-controller="Articulos">Articulos</a></li>
                </ul>
            </div>
            <ul class="links">
                <li><a href="Componentes.html">Componentes</a></li>
                <li><a href="Computadores.html">Computadores</a></li>
                <li><a href="about">Acerca de nosotros</a></li>
                <li><a href="contact">Contacto</a></li>
            </ul>
            <div>
                @* <a id="manage"  asp-area="Identity" class="action_btn" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
                <a asp-action="Login" asp-controller="Home" class="action_btn">Iniciar sesión</a>
                <a asp-action="Create" asp-controller="Usuarios" class="action_btn negative">Registrarse</a>
            </div>
            <div class="toggle_btn">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>
        <ul class="dropdown_menu">
            <li><a href="Componentes.html">Componentes</a></li>
            <li><a href="Computadores.html">Computadores</a></li>
            <li><a href="about">Acerca de nosotros</a></li>
            <li><a href="contact">Contacto</a></li>
            <li><a asp-action="Login" asp-controller="Home" class="action_btn">Iniciar sesión</a></li>
            <li><a asp-action="Create" asp-controller="Usuarios" class="action_btn negative">Registrarse</a></li>
        </ul>
    </header> *@
        <partial name="_LoginPartial"/>
    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    <footer class="footer text-muted">
        <div class="footer_logo">
            <img src="~/resources/allInOne.png" />
        </div>
        <div class="footer_content">
            <p>© Todos los derechos reservados. 2023</p>
        </div>
    </footer>
     <script src="~/lib/jquery/dist/jquery.min.js"></script> 
     <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> 
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
