@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<head>
    <link href="~/css/styles.css" rel="stylesheet" />
    <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - AllInOne</title>
    
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Styles.css" asp-append-version="true" />
</head>
<header>
    <div class="navbar">
        <div class="logo" style="display: block;">
            <a asp-action="Index" asp-controller="Home"><img src="~/resources/logo.png" width="40px"></a>
        </div>
        <div class="links">
            <ul class="links">
                <li><a class="" asp-action="Index" asp-controller="Usuarios">Usuarios</a></li>
                <li><a class="" asp-action="Index" asp-controller="Categorias">Categorias</a></li>
                <li><a class="" asp-action="Index" asp-controller="Articulos">Articulos</a></li>
            </ul>
        </div>
        <ul class="links">
            <li><a class="" asp-action="Componentes" asp-controller="Articulos">Componentes</a></li>
            <li><a class="" asp-action="Computadores" asp-controller="Articulos">Computadores</a></li>
            <li><a href="about">Acerca de nosotros</a></li>
            <li><a href="contact">Contacto</a></li>
        </ul>
@if (SignInManager.IsSignedIn(User))
{
        <ul class="links">
            <li class="nav-item">
                    <a id="manage" class="action_btn" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
            </li>
            <li class="nav-item">
                <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button id="logout" type="submit" class="action_btn">Logout</button>
                </form>
            </li>
        </ul>
    
}
else
{
        <div>
            <a class="action_btn" id="login" asp-area="Identity" asp-page="/Account/Login">Iniciar sesión</a>
            <a class="action_btn negative" id="register" asp-area="Identity" asp-page="/Account/Register">Registrarse</a>
        </div>
}
    </div>
    <ul class="dropdown_menu">
        <li><a href="Componentes.html">Componentes</a></li>
        <li><a href="Computadores.html">Computadores</a></li>
        <li><a href="about">Acerca de nosotros</a></li>
        <li><a href="contact">Contacto</a></li>
        <li><a asp-action="Login" asp-controller="Home" class="action_btn">Iniciar sesión</a></li>
        <li><a asp-action="Create" asp-controller="Usuarios" class="action_btn negative">Registrarse</a></li>
    </ul>
</header>