@model ProyectoFinal.Models.Categoria

@{
    ViewData["Title"] = "Create";
}
<div class="container">
    <h3 class="text-center mt-4">Crear una nueva categoría</h3>
    <form method="POST" asp-action="Create">
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-6 offset-3 mt-4">
                
                    <div class="form-group">
                        <label asp-for="Nombre" class="control-label"></label>
                        <input asp-for="Nombre" class="form-control" placeholder="Ingresa el nombre de la categoria" />
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>
                

                <div class=" row mt-5">
                    <div class="col-3">
                        <a class="text-black" asp-action="Index">Volver a lista</a>
                    </div>
                    <div class="col-5 offset-4">
                        <button type="submit" class="btn btn-primary form-control">Crear Categoria</button>
                        &nbsp;
                    </div>
                </div>

            </div>
        </div>
    </form>
</div>