@model IEnumerable<ProyectoFinal.Models.Categoria>

@{
    ViewData["Title"] = "Categorias";

}
<div class="container mt-5">
    <div class="row">
        <div class="col-8">
            <h2 class="text-primary">Lista de Categorías</h2>
        </div>
        <div class="col-4 text-right">
            <a asp-action="Create" class="btn btn-primary"><i class="fas fa-plus"></i> Crear Nueva Categoría</a>
        </div>
    </div>

    <br />
    <br />
    <div>
        @if (Model.Count() > 0)
        {
            <table class="table table-striped border">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre de categoría</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var categoria in Model)
                {
                    <tr>
                        <td>@categoria.IdCategoria</td>
                        <td>@categoria.Nombre</td>
                        <td>
                            <a class="btn btn-primary text-white" asp-action="Edit" asp-route-id="@categoria.IdCategoria">Editar</a>
                            <a class="btn btn-danger text-white" asp-action="Delete" asp-route-id="@categoria.IdCategoria">Borrar</a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        }
        else
        {
            <p>No hay categorías</p>
        }
    </div>
</div>