@model ProyectoFinal.Models.Usuario

@{
    ViewData["Title"] = "Create";
}

<div class="sign_in">
    <div class="form_title">
        <h1>Registro</h1>
        <p>Solo necesitaremos algunos datos tuyos y ya todo estará listo</p>
    </div>
    <form asp-action="Create" class="form">
        @* <div asp-validation-summary="ModelOnly" class="text-danger"></div> *@
        <div>
            <label asp-for="Documento" class="control-label pr-2">Documento de identidad</label>
            <input asp-for="Documento" class="form-control" placeholder="Documento de identidad" />
            <span asp-validation-for="Documento" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="Nombre" class="control-label">Nombre completo</label>
            <input asp-for="Nombre" class="form-control" placeholder="Nombre completo" />
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="Email" class="control-label">Correo electrónico</label>
            <input asp-for="Email" class="form-control" placeholder="Correo electrónico" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="Direccion" class="control-label"></label>
            <input asp-for="Direccion" class="form-control" placeholder="Dirección" />
            <span asp-validation-for="Direccion" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="Password" class="control-label">Contraseña</label>
            <input asp-for="Password" type="password" class="form-control" placeholder="Contraseña" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </form>
    <div class="btn_container">
        <button type="submit" value="Create" class="action_btn">Registrarse</button>
        <button onclick="btnIndex_Click()" class="action_btn negative">Volver atrás</button>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
