@model IEnumerable<ProyectoFinal.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}

<div class="container mt-4">
    <div class="row">
        <div class="col-8">
            <h3 class="text-dark "><strong>Lista de Usuarios</strong></h3>
        </div>

        <div class="col-4 text-right">
            <a asp-action="Create" class="btn btn-primary"><i class="fas fa-plus"></i> Crear Nuevo Usuario</a>
        </div>
    </div>

    <table class="table table-striped border mt-3">
        <thead>
            <tr>
                <th>Id Usuario</th>
                <th>Documento</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>111111</td>
                <td>Juan</td>
                <td>juan@gmail.com</td>
                <td>
                    <a class="btn btn-warning" asp-action=""><i class="bi bi-pencil-fill"></i>Editar</a>
                    <a class="btn btn-secondary" asp-action=""><i class="bi bi-info-circle-fill"></i>Detalle</a>
                    <a class="btn btn-danger" asp-action=""><i class="bi bi-eraser-fill"></i>Borrar</a>
                </td>
            </tr>

            <tr>
                <td>2</td>
                <td>2222222</td>
                <td>juan</td>
                <td>juan</td>
                <td>
                    <a class="btn btn-warning" asp-action=""><i class="bi bi-pencil-fill"></i>Editar</a>
                    <a class="btn btn-secondary" asp-action=""><i class="bi bi-info-circle-fill"></i>Detalle</a>
                    <a class="btn btn-danger" asp-action=""><i class="bi bi-eraser-fill"></i>Borrar</a>
                </td>
            </tr>

            <tr>
                <td>3</td>
                <td>333333</td>
                <td>jose</td>
                <td>jose</td>
                <td>
                    <a class="btn btn-warning" asp-action=""><i class="bi bi-pencil-fill"></i>Editar</a>
                    <a class="btn btn-secondary" asp-action=""><i class="bi bi-info-circle-fill"></i>Detalle</a>
                    <a class="btn btn-danger" asp-action=""><i class="bi bi-eraser-fill"></i>Borrar</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
