@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "¿Olvidaste tu contraseña?";
}

<div class="sign_in">
    <div class="form_title">
        <h1>@ViewData["Title"]</h1>
        <p>Ingresa tu correo electrónico y te ayudaremos.</p>
    </div>
    <form method="post">
        <div class="form">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div>
                <label asp-for="Input.Email" class="form-label">Correo electrónico:</label>
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="nombre@ejemplo.com" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="btn_container">
                <button type="submit" class="action_btn">Recuperar contraseña</button>
                <button onclick="btnIndex_Click()" class="action_btn negative">Volver atrás</button>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
