@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reestablecer contraseña";
}

<div class="sing_in">
    <div class="form_title">
        <h1>@ViewData["Title"]</h1>
        <h2>Reset your password.</h2>
    </div>
    <form method="post">
        <div class="form">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <input asp-for="Input.Code" type="hidden" />
            <div>
                <label asp-for="Input.Email" class="form-label">Correo electrónico:</label>
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="nombre@ejemplo.com" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Input.Password" class="form-label">Contraseña:</label>
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Contraseña" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Input.ConfirmPassword" class="form-label">Confirmar contraseña:</label>
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Confirmar contraseña" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="btn_container">
                <button type="submit" class="action_btn">Reestablecer</button>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
